/**************************************************************
                TABLET - medium
**************************************************************/
@media screen  and (min-width: 480px) {
/*        body {background: pink;}  */
    
    /***********************
       HEADER
***********************/
    .logo-an {
         width: 70%;
         margin-left: 19%;
    }
    .moto {
        font-size: 18px;
    }
/***********************
    TWO Column LAYOUT
***********************/
   
   .primary {
        width: 50%;
       float: left;
   }  
    
    .secondary {
        width: 40%;
        float: right;
    }  
    
       
/***********************
    PAGE:  GALERY
***********************/
    .galery li {
        width: 28.3333%;
        }  
   .galery li:nth-child(4) {
        clear:left;
    }
    
   .galery li:nth-child(5) {
        clear:none;
    }    

/***********************
    PAGE:  ABOUT
***********************/ 
  .profile-photo {
    display: block;
    max-width: 200px;
    border-radius: 10%;
    margin: 20px 0 0;
    width: 60%;
      }
    
    .desc {
        font-size: 1em;
        padding: 0 3px 0;
        float: left;
        width: 60%;
    }
    
    }




/****************************************************************
                desktop - LARGE 
********************************************************************/
@media screen  and (min-width: 660px) {
/*    body {background: lightgreen;}  */
    /***********************
       HEADER
***********************/ 
    .logo-an {
         width: 35%;
         margin-left: 32%;
     }
    
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 55%;
        padding: 0;
      }
    
    
    .img-line {
    width: 100%;
    margin: 0 0 5px;}
    
 /***********************
       BODY - ALL
***********************/ 
  .info {
        font-size: 1.2em;
      padding: 0 0 0 80px;
    }

    .profile-photo {
    display: block;
    max-width: 350px;
    border-radius: 15%;
    margin: 20px 0 0 20px;
    width: 50%;
      }
    
    .desc {
        padding: 0 3px 0 50px;
        float: left;
        width: 60%;
    }

    .galery {
         
        margin: 10px 130px 0;

    }
    .galery li {
        width: 28.333%
    }
}